<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SomerenDatabase" connectionString="Data Source=projectsomeren712339.database.windows.net;
         Initial Catalog=SomerenDatabaseHerkansing; User=admin123; Password=someren@123"/>
    </connectionStrings>
</configuration>